<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>list</key>
	<dict>
		<key>1</key>
		<string>微笑</string>
		<key>2</key>
		<string>羞涩</string>
		<key>3</key>
		<string>吐舌</string>
		<key>4</key>
		<string>偷笑</string>
		<key>5</key>
		<string>大笑</string>
		<key>6</key>
		<string>飞吻</string>
		<key>7</key>
		<string>安慰</string>
		<key>8</key>
		<string>给力</string>
		<key>9</key>
		<string>哦耶</string>
		<key>10</key>
		<string>怒赞</string>
		<key>11</key>
		<string>狂爱</string>
		<key>12</key>
		<string>得意</string>
		<key>13</key>
		<string>查找</string>
		<key>14</key>
		<string>大吼</string>
		<key>15</key>
		<string>计算</string>
		<key>16</key>
		<string>鬼脸</string>
		<key>17</key>
		<string>招手</string>
		<key>18</key>
		<string>口水</string>
		<key>19</key>
		<string>美梦</string>
		<key>20</key>
		<string>鼻血</string>
		<key>21</key>
		<string>不解</string>
		<key>22</key>
		<string>疑惑</string>
		<key>23</key>
		<string>等待</string>
		<key>24</key>
		<string>撇嘴</string>
		<key>25</key>
		<string>困扰</string>
		<key>26</key>
		<string>无奈</string>
		<key>27</key>
		<string>无语</string>
		<key>28</key>
		<string>愧疚</string>
		<key>29</key>
		<string>流汗</string>
		<key>30</key>
		<string>困倦</string>
		<key>31</key>
		<string>大哭</string>
		<key>32</key>
		<string>含泪</string>
		<key>33</key>
		<string>抱歉</string>
		<key>34</key>
		<string>憔悴</string>
		<key>35</key>
		<string>惊讶</string>
		<key>36</key>
		<string>生气</string>
		<key>37</key>
		<string>恭喜</string>
		<key>38</key>
		<string>好的</string>
		<key>39</key>
		<string>鼓掌</string>
		<key>40</key>
		<string>握手</string>
	</dict>
</dict>
</plist>
